<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>PetShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.petshop.servlets.admin.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageController</display-name>
    <servlet-name>HomePageController</servlet-name>
    <servlet-class>com.petshop.servlets.HomePageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageController</servlet-name>
    <url-pattern>/HomePageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharedProductPageController</display-name>
    <servlet-name>SharedProductPageController</servlet-name>
    <servlet-class>com.petshop.servlets.shared.SharedProductPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharedProductPageController</servlet-name>
    <url-pattern>/SharedProductPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharedContactController</display-name>
    <servlet-name>SharedContactController</servlet-name>
    <servlet-class>com.petshop.servlets.shared.SharedContactController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharedContactController</servlet-name>
    <url-pattern>/SharedContactController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharedLoginController</display-name>
    <servlet-name>SharedLoginController</servlet-name>
    <servlet-class>com.petshop.servlets.shared.SharedLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharedLoginController</servlet-name>
    <url-pattern>/SharedLoginController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthorizationFilter</display-name>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>com.petshop.filters.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.petshop.filters.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/PetShop/admin</url-pattern>
    <url-pattern>/PetShop/admin/*</url-pattern>
    <url-pattern>/admin*</url-pattern>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SharedLogoutController</display-name>
    <servlet-name>SharedLogoutController</servlet-name>
    <servlet-class>com.petshop.servlets.shared.SharedLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharedLogoutController</servlet-name>
    <url-pattern>/SharedLogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListAnimal</display-name>
    <servlet-name>AdminListAnimal</servlet-name>
    <servlet-class>com.petshop.servlets.admin.animal.AdminListAnimal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListAnimal</servlet-name>
    <url-pattern>/AdminListAnimal</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/templates/error-page/404.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>AdminListProduct</display-name>
    <servlet-name>AdminListProduct</servlet-name>
    <servlet-class>com.petshop.servlets.admin.product.AdminListProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListProduct</servlet-name>
    <url-pattern>/AdminListProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AminCreateProduct</display-name>
    <servlet-name>AminCreateProduct</servlet-name>
    <servlet-class>com.petshop.servlets.admin.product.AminCreateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AminCreateProduct</servlet-name>
    <url-pattern>/AminCreateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateProduct</display-name>
    <servlet-name>AdminUpdateProduct</servlet-name>
    <servlet-class>com.petshop.servlets.admin.product.AdminUpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateProduct</servlet-name>
    <url-pattern>/AdminUpdateProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteServlet</display-name>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <servlet-class>com.petshop.servlets.admin.product.AdminDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteServlet</servlet-name>
    <url-pattern>/AdminDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharedCartController</display-name>
    <servlet-name>SharedCartController</servlet-name>
    <servlet-class>com.petshop.servlets.shared.SharedCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharedCartController</servlet-name>
    <url-pattern>/SharedCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharedPaymentPageController</display-name>
    <servlet-name>SharedPaymentPageController</servlet-name>
    <servlet-class>com.petshop.servlets.shared.SharedPaymentPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharedPaymentPageController</servlet-name>
    <url-pattern>/SharedPaymentPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BaseSharedServlet</display-name>
    <servlet-name>BaseSharedServlet</servlet-name>
    <servlet-class>com.petshop.servlets.shared.BaseSharedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseSharedServlet</servlet-name>
    <url-pattern>/BaseSharedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditProduct</display-name>
    <servlet-name>AdminEditProduct</servlet-name>
    <servlet-class>com.petshop.servlets.admin.product.AdminEditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEditProduct</servlet-name>
    <url-pattern>/AdminEditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductToCart</display-name>
    <servlet-name>AddProductToCart</servlet-name>
    <servlet-class>com.petshop.servlets.shared.cart.AddProductToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductToCart</servlet-name>
    <url-pattern>/AddProductToCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProductFromCart</display-name>
    <servlet-name>RemoveProductFromCart</servlet-name>
    <servlet-class>com.petshop.servlets.shared.cart.RemoveProductFromCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProductFromCart</servlet-name>
    <url-pattern>/RemoveProductFromCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayServlet</display-name>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>com.petshop.servlets.shared.order.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEditCategoryServlet</display-name>
    <servlet-name>AdminEditCategoryServlet</servlet-name>
    <servlet-class>com.petshop.servlets.admin.category.AdminEditCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AdminOrderDetail</display-name>
    <servlet-name>AdminOrderDetail</servlet-name>
    <servlet-class>com.petshop.servlets.admin.order.AdminOrderDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrderDetail</servlet-name>
    <url-pattern>/AdminOrderDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderStatusServlet</display-name>
    <servlet-name>UpdateOrderStatusServlet</servlet-name>
    <servlet-class>com.petshop.servlets.admin.order.UpdateOrderStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderStatusServlet</servlet-name>
    <url-pattern>/UpdateOrderStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderDeliveredAtServlet</display-name>
    <servlet-name>UpdateOrderDeliveredAtServlet</servlet-name>
    <servlet-class>com.petshop.servlets.admin.order.UpdateOrderDeliveredAtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderDeliveredAtServlet</servlet-name>
    <url-pattern>/UpdateOrderDeliveredAtServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminEditCategoryServlet</servlet-name>
    <url-pattern>/AdminEditCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharedSignupController</display-name>
    <servlet-name>SharedSignupController</servlet-name>
    <servlet-class>com.petshop.servlets.shared.SharedSignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharedSignupController</servlet-name>
    <url-pattern>/SharedSignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharedOrderController</display-name>
    <servlet-name>SharedOrderController</servlet-name>
    <servlet-class>com.petshop.servlets.shared.SharedOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharedOrderController</servlet-name>
    <url-pattern>/SharedOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharedUpdateOrderController</display-name>
    <servlet-name>SharedUpdateOrderController</servlet-name>
    <servlet-class>com.petshop.servlets.shared.SharedUpdateOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharedUpdateOrderController</servlet-name>
    <url-pattern>/SharedUpdateOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateFeedBackServlet</display-name>
    <servlet-name>CreateFeedBackServlet</servlet-name>
    <servlet-class>com.petshop.servlets.admin.feedback.CreateFeedBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFeedBackServlet</servlet-name>
    <url-pattern>/CreateFeedBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedBack</display-name>
    <servlet-name>FeedBack</servlet-name>
    <servlet-class>com.petshop.servlets.shared.feedback.FeedBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedBack</servlet-name>
    <url-pattern>/FeedBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListFeedbackServlet</display-name>
    <servlet-name>ListFeedbackServlet</servlet-name>
    <servlet-class>com.petshop.servlets.admin.feedback.ListFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFeedbackServlet</servlet-name>
    <url-pattern>/ListFeedbackServlet</url-pattern>
  </servlet-mapping>
</web-app>